.section {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.text {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 25px;
        cursor: pointer;
}

.image {
    width: 250px;
    height: 350px;
    overflow: hidden;
    cursor: pointer;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rate{
    padding-left: 25px;
}